<div id="container" *ngIf="pyqs">
    <div class="pyqs" *ngFor="let pyq of pyqs;let i = index">
        <div class="pyq_img" [style.background-image]="sanitizeStyle(pyq.img)">

        </div>
        <div class="pyq_container" [routerLink]="['/forum/detail',pyq.id]" (click)="forumService.current_pyq=pyq">
            <span class="name">{{pyq.alias}}</span><img class="gender" height="15" width="15" [attr.src]="pyq.gender"/>
            <span class="forum_class_tag">{{pyq.classTitle}}</span>
            <span class="sell_tag" *ngIf="pyq.category == 'sell'">出售</span>
            <span class="buy_tag" *ngIf="pyq.category == 'buy'">求购</span>
            <h6 class="descript" *ngIf="pyq.major && pyq.enroll_year">{{pyq.enroll_year}}&nbsp;&nbsp;{{pyq.major}}</h6>
            <p class="content">
                {{pyq.content}}
            </p>
            <img class="pyq_img1"  [attr.src]="pyq.img1"/>
            <br *ngIf="pyq.img1"/>
            <img class="comment_img" src="resource/img/course_icon/comment.png" width="14" height="14"/>&nbsp;
            <span class="comment_count">{{pyq.comment_num}}</span>
            <img src="resource/img/course_icon/read.png" width="14" height="14"/>
            <span class="read_count">{{pyq.count_view}}</span>
            <span class="time">{{pyq.time}}</span>
            <span class="delete" *ngIf="pyq.editable=='yes'" (click)="delForum($event,i,pyq.id)">删除</span>
            <span class="price_tag" *ngIf="pyq.price != '0'">${{pyq.price}}</span>
        </div>
    </div>
</div>