
@media only screen and (min-width : 40px) {
    #forum_nav{
        width:200px;
        background-color:#FCFCFC;
        height:95vh;
        position:fixed;
        top:56px;
        z-index: 9999;
        border-right:solid 1px #E0E0E0;
    }
    #forum_nav>ul>li{
        border-bottom: solid 1px #E0E0E0;
        color:#666666;
        cursor:pointer;
    }

    #forum_nav>ul>li:hover{
        border-left:solid 4.5px #D0021B;
    }

    .forum_class_active{
        border-left:solid 4.5px #D0021B;
    }

    #forum_content{
        position:relative;
        padding-top:56px;
        z-index:1;
        margin-left:200px;
    }


}


@media only screen and (min-width : 480px) {

}


@media only screen and (min-width : 768px) {



}

@media only screen and (min-width : 992px) {


}


@media only screen and (min-width : 1200px) {

}

@media only screen and (min-width : 1450px) {
}
